

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
 
}

.container img {
  gap: 10px;
  width: 100%;
  height: 30%;
  justify-content: center;
}


@media (max-width:700px){
  .container
  {
    width: 20%;
  } 
  
  
}

@media (max-width:500px){
  .container
  {
  
    width: 20%;
  } 
  .container img
  {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    
  }
  
}


.container img{
  transition: all 2s;
}
.container img:hover{
  transform: scale(0.8);

}




.price {
  color: rgb(243, 10, 10);
  font-weight: 900;
  transition: color 0.3s;
  transition: all 1s;
  margin-left: 30px;
}

/* .price:hover {
  transform: scale(0.6);
  color: rgb(46, 7, 222);
  margin-left: 5%; 
  font-weight: 900;
  font-size: x-large;
} */



.da
{
  display: block;
  align-items: center;
  width: 100%;
  transition: all 1s;
  margin-left: 20px;
}
/* .da:hover{
  transform: scale(0.8);
  color: rgb(139, 8, 39);
  margin-left: 30px; 
  font-weight: 900;
  border-bottom: 3px solid rgb(7, 234, 94);
} */